@font-face {
    font-family: Neuropol;
    src: url('../fonts/neuropol.ttf');
}

.hero-slider__slide {
    height: 100vh !important;
}

.site-header__logo {
    background-size: 200px 100%!important;
    display: block!important;
    float: left!important;
    height: 100px!important;
    width: 200px!important;
    left: 2%;
    position: absolute;
}

.site-footer__logo {
    background-repeat: no-repeat;
    background-size: 200px 100%!important;
    float: left;
    height: 100px;
    width: 200px;
}

.layout--introduction {
    background-color: #292a2e;
    color: #fff;
    height: 96vh!important;
}

@media (min-width: 1280px) and (max-width: 1440px) {
    .services-sub-menu__link.last {
        float: left!important;
        left: 20%!important;
        position: relative!important;
        width: 100%!important;
    }
}

#file-field-carrer_contact {
    opacity: 0;
    position: absolute;
    right: 25%;
}

.site-footer__columns {
    float: left!important;
    width: 75%;
}

.map-short {
    width: 33.33%;
}

@media (min-width: 1024px) {
    .footer-width {
        float: right!important;
        width: 50%!important;
    }

    .footer-about {
        position: absolute!important;
        right: 0!important;
    }
}

#menu-main-menu > li {
    float: left;
    width: 100%;
}

.large-image-slider__carousel .slick-arrow.slick-next:hover{
    background-repeat: no-repeat;
    background-position: center center;
}

.large-image-slider__carousel .slick-arrow.slick-prev:hover{
    background-repeat: no-repeat;
    background-position: center center;
}

.large-image-slider__carousel .slick-arrow.slick-next{
    background-repeat: no-repeat;
    background-position: center center;
}

.large-image-slider__carousel .slick-arrow.slick-prev{
    background-repeat: no-repeat;
    background-position: center center;
}

.projects-grid__items__item__carousel .slick-arrow.slick-next{
    background-repeat: no-repeat;
    background-position: center center;
}

.projects-grid__items__item__carousel .slick-arrow.slick-prev{
    background-repeat: no-repeat;
    background-position: center center;
}

.projects-grid__items__item__carousel .slick-arrow.slick-next:hover{
    background-repeat: no-repeat;
    background-position: center center;
}

.projects-grid__items__item__carousel .slick-arrow.slick-prev:hover{
    background-repeat: no-repeat;
    background-position: center center;
}

.form-slider .slick-arrow.slick-next{
    background-repeat: no-repeat;
    background-position: center center;
}

.form-slider .slick-arrow.slick-prev{
    background-repeat: no-repeat;
    background-position: center center;
}

.form-slider .slick-arrow.slick-next:hover{
    background-repeat: no-repeat;
    background-position: center center;
}

.form-slider .slick-arrow.slick-prev:hover{
    background-repeat: no-repeat;
    background-position: center center;
}

.mapclass {
    width: 40%!important;
}
.addressclass {
    width: 60%!important;
}
.article-address {
    float: left;
    margin-bottom: 40px;
    width: 50%;
}
.site-footer__columns {
    float: left!important;
    width: 75%;
}
.map-short {
    width: 33.33%;
}
@media (min-width: 1024px) {
    .footer-width {
        float: right!important;
        width: 50%!important;
    }
    .footer-about {
        position: absolute!important;
        right: 0!important;
    }
}

.form_box {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .form_box {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .form_box {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .form_box {
    width: 1170px;
  }
}

.sectn{
  position: relative;
  float: left;
  width: 33.33333333%;
  padding-right: 15px;
  padding-left: 15px;
}
.sec_mrgn{
    margin-left: 16.7%;
}

.btn_bg{
    padding:20px; 
    background:#ccc; 
    border:0 none;
    border-radius: 150%;
    background-image: url("../images/hero-arrow-right.svg");
    background-color: #38393d;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px 7px;
    width: 56px;
    height: 56px;
}
.btn_bg:hover{
    background-color: #ff0000;
    transition: background-color 0.35s;
}