@font-face {
	font-family: Neuropol;
	src: url('../fonts/neuropol.ttf');

}
.hero-slider__slide {
     height: 100vh !important;}

 .site-header__logo {
    /*background-image: url("images/front-logo.png");*/
    background-size: 200px 100%!important;
    display: block!important;
    float: left!important;
    height: 100px!important;
    width: 200px!important;
}
.site-footer__logo {
    /*background-image: url("images/footer-logo.png");*/
    background-repeat: no-repeat;
    background-size: 200px 100%!important;
    float: left;
    height: 100px;
    width: 200px;
}
.layout--introduction {
    background-color: #292a2e;
    color: #fff;
    height: 96vh!important;}
@media (min-width: 1280px) and (max-width: 1440px){.services-sub-menu__link.last {
    float: left!important;
    left: 20%!important;
    position: relative!important;
    width: 100%!important;
}}